label {
  margin-bottom: 0.5em;
  color: #444;
  font-weight: lighter;
}
input {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  width: 100%;
}
span {
  color: red;
  padding-top: 0px;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}
